SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations

In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect('data.db')
connection

In [8]:
cursor = connection.cursor()
cursor.execute('''
CREATE TABLE if not Exists employees(
    id INTEGER PRIMARY KEY,
    name TEXT Not Null,
    age INTEGER,
    department TEXT
)''')  
connection.commit()

In [9]:
cursor.execute('''
Select * from employees
''')

In [13]:
cursor.execute('''
INSERT INTO employees (name, age, department) VALUES ('John', 45, 'HR')
''')
cursor.execute('''
INSERT INTO employees (name, age, department) VALUES ('Sam', 43, 'Engineering')
''')
cursor.execute('''
INSERT INTO employees (name, age, department) VALUES ('Johnny', 35, 'Manager')
''')

In [14]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'John', 45, 'HR')
(2, 'John', 45, 'HR')
(3, 'Sam', 43, 'Engineering')
(4, 'Johnny', 35, 'Manager')
(5, 'John', 45, 'HR')
(6, 'Sam', 43, 'Engineering')
(7, 'Johnny', 35, 'Manager')

In [18]:
# update data
cursor.execute('''
UPDATE employees SET age = 21 WHERE name = 'John'
''')

In [19]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'John', 21, 'HR')
(2, 'John', 21, 'HR')
(3, 'Sam', 43, 'Engineering')
(4, 'Johnny', 35, 'Manager')
(5, 'John', 21, 'HR')
(6, 'Sam', 43, 'Engineering')
(7, 'Johnny', 35, 'Manager')

In [20]:
# Delete data
cursor.execute('''
DELETE FROM employees WHERE name = 'Johnny'
''')
cursor.execute('Select * from employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'John', 21, 'HR')
(2, 'John', 21, 'HR')
(3, 'Sam', 43, 'Engineering')
(5, 'John', 21, 'HR')
(6, 'Sam', 43, 'Engineering')