The map() function applies a given function to all items in an input list (or any other iterable) and returns a map object (an iterator). This is practically useful for transforming data in a list comprehensively.

In [2]:
def square(x):
    return x * x    

square(3)

9

In [3]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squared_numbers = map(square, numbers)
# map() returns a map object which is an iterator, so we need to convert it to a list
# map (function, iterable)
print(list(squared_numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x: x ** 3, numbers))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [8]:
# Map with multiple iterables

num1 = [1, 2, 3, 4, 5]
num2 = [6, 7, 8, 9, 10]

list(map(lambda x, y: x + y, num1, num2))

[7, 9, 11, 13, 15]

In [9]:
# Map with multiple iterables

num1 = [1, 2, 3, 4, 5]
num2 = [6, 7, 8, 9, 10, 11]

list(map(lambda x, y: x + y, num1, num2))

[7, 9, 11, 13, 15]

In [7]:
# Map with multiple iterables of different lengths
num1 = [1, 2, 3, 4, 5]
num2 = [6, 7, 8]

# Correct the usage of zip inside map
result = list(map(lambda x_y: x_y[0] + x_y[1], zip(num1, num2)))
print(result)

[7, 9, 11]

In [10]:
from itertools import zip_longest

num1 = [1, 2, 3, 4, 5]
num2 = [6, 7, 8]

# Use zip_longest to handle different lengths, fillvalue can be set to 0 to avoid None values
result = list(map(lambda x_y: (x_y[0] or 0) + (x_y[1] or 0), zip_longest(num1, num2, fillvalue=0)))
print(result)

# Zip function to combine two lists into a list of tuples

[7, 9, 11, 4, 5]

In [12]:
# Map to convert list of strings to list of integers
numbers = ['1', '2', '3', '4', '5']
print(numbers)
integers = list(map(int, numbers))
print(integers)

['1', '2', '3', '4', '5']
[1, 2, 3, 4, 5]

In [14]:
words = ['apple', 'banana', 'cherry']
upper_case_words = list(map(str.upper, words))
print(upper_case_words)

['APPLE', 'BANANA', 'CHERRY']

In [15]:
def get_name(person):
    return person['name']

people = [
    {'name': 'John', 'age': 25},
    {'name': 'Jane', 'age': 22},
    {'name': 'Peter', 'age': 31}
]

names = list(map(get_name, people))
print(names)

['John', 'Jane', 'Peter']