# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [6]:
# Assignment 1
t = ()
for i in range(1, 11):
    t = t + (i,)
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [7]:
# Assignment 2
print(f"First Element: {t[0]}")
print(f"Middle Element: {t[4]}")
print(f"Last Element: {t[-1]}")

First Element: 1
Middle Element: 5
Last Element: 10

In [8]:
# Assignment 3
print(f"First three elements: {t[:3]}")
print(f"Last three elements: {t[-3:]}")
print(f"Middle three elements: {t[2:6]}")

First three elements: (1, 2, 3)
Last three elements: (8, 9, 10)
Middle three elements: (3, 4, 5, 6)

In [11]:
# Assignment 4
Matrix = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
for i in Matrix:
    print(i)
print(f"Element at 2nd row and 3rd column: {Matrix[1][2]}")

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at 2nd row and 3rd column: 6

In [12]:
# Assignment 5
tpl1 = (1, 2, 3)
tpl2 = (4, 5, 6)
concatenated = tpl1 + tpl2
print(concatenated)

(1, 2, 3, 4, 5, 6)

In [13]:
# Assignment 6
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
print(f"Occurrences of 4: {tpl.count(4)}")
print(f"Index of first occurrence of 2: {tpl.index(2)}")

Occurrences of 4: 3
Index of first occurrence of 2: 1

In [14]:
# Assignment 7
tpl = (1, 2, 3, 4, 5)
a, b, c, d, e = tpl
print(a, b, c, d, e)

1 2 3 4 5

In [15]:
# Assignment 8
lst = [1, 2, 3, 4, 5]
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5)

In [16]:
# Assignment 9
tpl_of_tpls = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(tpl_of_tpls)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [17]:
# Assignment 10
tpl = (1, 2, 3, 4, 5)
lst = list(tpl)
lst.append(6)
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5, 6)

In [20]:
# Assignment 11
string = "hello harsh"
tpl = tuple(string)
joined_string = ''.join(tpl)
print(tpl)
print(joined_string)

('h', 'e', 'l', 'l', 'o', ' ', 'h', 'a', 'r', 's', 'h')
hello harsh

In [21]:
# Assignment 12
tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

In [23]:
# Assignment 13
nested_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for tpl in nested_tpl:
    for elem in tpl:
        print(elem, end=' ')

1 2 3 4 5 6 7 8 9

In [24]:
# Assignment 14
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
unique_set = set(tpl)
print(unique_set)

{1, 2, 3, 4, 5}

In [25]:
# Assignment 15
def min_in_tuple(tpl):
    return min(tpl)

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)

sample_tpl = (1, 2, 3, 4, 5)
print(f"Minimum: {min_in_tuple(sample_tpl)}")
print(f"Maximum: {max_in_tuple(sample_tpl)}")
print(f"Sum: {sum_of_tuple(sample_tpl)}")

Minimum: 1
Maximum: 5
Sum: 15