OrdinalEncoder -> for ordered categories or ranks

It is used to encode categorical data that have an intrinsic order or ranking. In this technique, each category is assigned a numerical value based on its position in the order. For example, if we have a categorical variable "education level" with four possible values (high school, college, graduate, post-graduate), we can represent it using ordinal encoding as follows:

1. High school: 1

2. College: 2

3. Graduate: 3

4. Post-graduate: 4

In [2]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

In [3]:
df = pd.DataFrame({
    'size' : ['small', 'medium', 'large', 'small', 'large']
})

In [4]:
df

     size
0   small
1  medium
2   large
3   small
4   large

In [7]:
# create an instance of OrdinalEncoder and then fit_transform the data
encoder = OrdinalEncoder(categories=[['small', 'medium', 'large']])
df['size_encoded'] = encoder.fit_transform(df[['size']])

In [8]:
df

     size  size_encoded
0   small           0.0
1  medium           1.0
2   large           2.0
3   small           0.0
4   large           2.0