1. Upsampling
2. Downsampling

In [1]:
import numpy as np
import pandas as pd

# Set random seed for reproducibility
np.random.seed(123)
# Create dataframe
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [2]:
n_class_0, n_class_1

(900, 100)

### Upsampling

In [3]:
# create dataframe

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(0, 1, n_class_0),
    'feature_2': np.random.normal(0, 1, n_class_0),
    'target' : [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(1, 1, n_class_1),
    'feature_2': np.random.normal(1, 1, n_class_1),
    'target' : [1] * n_class_1
})

In [6]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [7]:
df

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
995   0.376371   1.845701       1
996   1.239810  -0.119923       1
997   0.131760   0.640703       1
998   1.902006  -0.609695       1
999   1.697490   1.013570       1

[1000 rows x 3 columns]

In [8]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [9]:
# Upsampling
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [10]:
from sklearn.utils import resample

df_minority_upsampled = resample(df_minority, 
        replace=True, n_samples = len(df_majority), random_state = 42)
# Sample with replacement from minority class

In [11]:
df_minority_upsampled.shape

(900, 3)

In [12]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   0.125854   0.843917       1
992   1.196570   0.397425       1
914   0.932170   1.998053       1
971   1.272825   2.034197       1
960   1.870056   0.550485       1

In [13]:
df_upsampled = pd.concat([df_majority, df_minority_upsampled])

In [14]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

### Downsampling
Bad as we lose data

In [15]:
import numpy as np
import pandas as pd

# Set random seed for reproducibility
np.random.seed(123)
# Create dataframe
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [16]:
n_class_0, n_class_1

(900, 100)

In [17]:
# create dataframe

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(0, 1, n_class_0),
    'feature_2': np.random.normal(0, 1, n_class_0),
    'target' : [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(1, 1, n_class_1),
    'feature_2': np.random.normal(1, 1, n_class_1),
    'target' : [1] * n_class_1
})

In [18]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [19]:
df

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
995   0.376371   1.845701       1
996   1.239810  -0.119923       1
997   0.131760   0.640703       1
998   1.902006  -0.609695       1
999   1.697490   1.013570       1

[1000 rows x 3 columns]

In [20]:
# Downsampling
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [21]:
from sklearn.utils import resample

df_majority_downsampled = resample(df_majority, 
        replace=False, n_samples = len(df_minority), random_state = 42)

In [22]:
df_majority_downsampled.shape

(100, 3)

In [23]:
df_downsampled = pd.concat([df_majority_downsampled, df_minority])

In [24]:
df_downsampled['target'].value_counts()

target
0    100
1    100
Name: count, dtype: int64